name: PR

on:
  pull_request:
    paths-ignore:
      - "**/README.md"
      - "assets/**"

jobs:
  demo-debug:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Assemble Debug"
        run: ./gradlew :demo:assembleDebug --no-daemon
      - name: "Upload Debug APK to GitHub"
        uses: actions/upload-artifact@v4
        with:
          name: demo-debug.apk
          path: demo/build/outputs/apk/debug/demo-debug.apk
  demo-release: # To ensure nothing wrong with release build
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Generate Release APK"
        run: ./gradlew :demo:assembleRelease --no-daemon
  seattle-debug:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Assemble Debug"
        run: ./gradlew :seattle:assembleDebug --no-daemon
      - name: "Upload Debug APK to GitHub"
        uses: actions/upload-artifact@v4
        with:
          name: seattle-debug.apk
          path: seattle/build/outputs/apk/debug/seattle-debug.apk
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Lint"
        run: ./gradlew lint --no-daemon
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Dekekt"
        run: ./gradlew detekt detektMain detektTest --no-daemon
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Test"
        run: ./gradlew test --no-daemon
  lib-api-check:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v3
      - name: "Check API"
        run: ./gradlew :metro:apiCheck --no-daemon
