name: PR

on:
  pull_request:
    paths-ignore:
      - "**/README.md"
      - "assets/**"

jobs:
  demo-debug:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Assemble Debug"
        run: ./gradlew :demo:assembleDebug --no-daemon
      - name: "Upload Debug APK to GitHub"
        uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: demo/build/outputs/apk/debug/demo-debug.apk
  demo-release: # To ensure nothing wrong with release build
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Generate Release APK"
        run: ./gradlew :demo:assembleRelease --no-daemon
  seattle-debug:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Assemble Debug"
        run: ./gradlew :seattle:assembleDebug --no-daemon
      - name: "Upload Debug APK to GitHub"
        uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: seattle/build/outputs/apk/debug/seattle-debug.apk
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Lint"
        run: ./gradlew lint --no-daemon
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Dekekt"
        run: ./gradlew detekt --no-daemon
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Test"
        run: ./gradlew test --no-daemon
  maestro-test:
    runs-on: macos-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Install Maestro"
        uses: dniHze/maestro-test-action@v1
      - name: Run Maestro test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          script: meaestro test --format=junit --output=report.xml --no-ansi maestro.yml
  lib-api-check:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Check API"
        run: ./gradlew :metro:apiCheck --no-daemon
